<figure class="bg-secondary-subtle p-3 border-start border-warning border-5">
  <blockquote class="blockquote">
    <p>Ápeiron (ἄπειρον) es un término usado en filosofía, por Anaximandro de Mileto, para referirse al principio u origen (arché) de todas las cosas, identificando este primer principio con lo «indefinido» o «ilimitado». Consideraba que el principio constitutivo de las cosas era el ápeiron, que no es agua, ni tierra, ni fuego, ni aire; no tiene forma concreta, es infinito. El cosmos nace, se desarrolla y perece en el seno de ese "ápeiron".</p>
  </blockquote>
  <figcaption class="blockquote-footer text-end">
    Anaximandro de Mileto
  </figcaption>
</figure>

<div>
  Tu objetivo es descubrir la substancia misteriosa de hoy con la menor cantidad de intentos posibles. Cada intento incorrecto te dará pistas de la clasificación de la substancia misteriosa,
</div>
