<footer id="footer">
  <nav class="footer navbar navbar-light bg-dark-subtle">
    <div class="container">
      <div>
        Contact Us: mail@email.com
      </div>
      <div>
        ToS
      </div>
      <div>
        Política de privacidad
      </div>
      <div>
        © Calimochines 2025
      </div>
    </div>
  </nav>
</footer>
