
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Apeiron</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Bootstrap icons CSS -->
    <link rel="stylesheet" href="css/bootstrap-icons.min.css">

    <!-- jQuery -->
    <script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Apeiron JavaScript -->
    <script src="js/script.js"></script>
</head>
  <body>
    <!--#include file="header.html" -->
    <div style="margin-top: 20px; margin-left:20px">
      <div id="input" style="margin-bottom: 5px">
        <label for="materia">Selecciona un tipo de materia:</label>
        <input list="materia_names_data" id="materia_name" name="materia">
        <datalist id="materia_names_data"></datalist>
        <button id="submit" class="btn btn-primary">Probar</button>

      </div>

      <div id="try-1" style="margin-bottom: 5px">

      </div>
      <div id="try-2" style="margin-bottom: 5px">

      </div>
      <div id="try-3" style="margin-bottom: 5px">

      </div>
      <div id="try-4" style="margin-bottom: 5px">

      </div>
      <div id="try-5" style="margin-bottom: 5px">

      </div>
      <div id="try-6" style="margin-bottom: 5px">

      </div>
    </div>

  </body>
</html>
